*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
}
img{
  width: 20vw;
  display: inline-block;
  margin: 1vw;
  height: 100%;
  object-fit: cover;
}
.pro{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 1vw;

}
.card{
  border: black solid 2px;
  margin-bottom: 1px;
  padding-bottom: 1vw;
  margin-left: 2vw;
  margin-top: 2vw;
  width: 30vw;
  height: 100%;
}